language: r
r:
  - oldrel
  - release
  - devel
sudo: false
cache: packages

before_install:
  - . $HOME/.nvm/nvm.sh
  - nvm install
  - nvm use
  - npm -g install grunt-cli
  - npm install
  - grunt build
  - npm run coverage
  - git diff --exit-code inst

notifications:
  email:
    on_success: change
    on_failure: change

